

.cart-page {
    min-height: 500px;
    background-color: cornsilk;
    padding-top: 50px;
}

.cart-page h1 {
    text-align: center;
}

.cart-container {
    display: flex;
}

.cart-container .products {
    flex: 4;
}

.cart-container .side-menu {
    flex: 1;
    background-color: coral;
}